<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>&lt;f000&gt;</key>
	<string>f000</string>
	<key>&lt;f001&gt;</key>
	<string>f001</string>
	<key>&lt;f002&gt;</key>
	<string>f002</string>
	<key>&lt;f003&gt;</key>
	<string>f003</string>
	<key>&lt;f004&gt;</key>
	<string>f004</string>
	<key>&lt;f005&gt;</key>
	<string>f005</string>
	<key>&lt;f006&gt;</key>
	<string>f006</string>
	<key>&lt;f007&gt;</key>
	<string>f007</string>
	<key>&lt;f008&gt;</key>
	<string>f008</string>
	<key>&lt;f009&gt;</key>
	<string>f009</string>
	<key>&lt;f010&gt;</key>
	<string>f010</string>
	<key>&lt;f011&gt;</key>
	<string>f011</string>
	<key>&lt;f012&gt;</key>
	<string>f012</string>
	<key>&lt;f013&gt;</key>
	<string>f013</string>
	<key>&lt;f014&gt;</key>
	<string>f014</string>
	<key>&lt;f015&gt;</key>
	<string>f015</string>
	<key>&lt;f016&gt;</key>
	<string>f016</string>
	<key>&lt;f017&gt;</key>
	<string>f017</string>
	<key>&lt;f018&gt;</key>
	<string>f018</string>
	<key>&lt;f019&gt;</key>
	<string>f019</string>
	<key>&lt;f020&gt;</key>
	<string>f020</string>
	<key>&lt;f021&gt;</key>
	<string>f021</string>
	<key>&lt;f022&gt;</key>
	<string>f022</string>
	<key>&lt;f023&gt;</key>
	<string>f023</string>
	<key>&lt;f024&gt;</key>
	<string>f024</string>
	<key>&lt;f025&gt;</key>
	<string>f025</string>
	<key>&lt;f026&gt;</key>
	<string>f026</string>
	<key>&lt;f027&gt;</key>
	<string>f027</string>
	<key>&lt;f028&gt;</key>
	<string>f028</string>
	<key>&lt;f029&gt;</key>
	<string>f029</string>
	<key>&lt;f030&gt;</key>
	<string>f030</string>
	<key>&lt;f031&gt;</key>
	<string>f031</string>
	<key>&lt;f032&gt;</key>
	<string>f032</string>
	<key>&lt;f033&gt;</key>
	<string>f033</string>
	<key>&lt;f034&gt;</key>
	<string>f034</string>
	<key>&lt;f035&gt;</key>
	<string>f035</string>
	<key>&lt;f036&gt;</key>
	<string>f036</string>
	<key>&lt;f037&gt;</key>
	<string>f037</string>
	<key>&lt;f038&gt;</key>
	<string>f038</string>
	<key>&lt;f039&gt;</key>
	<string>f039</string>
	<key>&lt;f040&gt;</key>
	<string>f040</string>
	<key>&lt;f041&gt;</key>
	<string>f041</string>
	<key>&lt;f042&gt;</key>
	<string>f042</string>
	<key>&lt;f043&gt;</key>
	<string>f043</string>
	<key>&lt;f044&gt;</key>
	<string>f044</string>
	<key>&lt;f045&gt;</key>
	<string>f045</string>
	<key>&lt;f046&gt;</key>
	<string>f046</string>
	<key>&lt;f047&gt;</key>
	<string>f047</string>
	<key>&lt;f048&gt;</key>
	<string>f048</string>
	<key>&lt;f049&gt;</key>
	<string>f049</string>
	<key>&lt;f050&gt;</key>
	<string>f050</string>
	<key>&lt;f051&gt;</key>
	<string>f051</string>
	<key>&lt;f052&gt;</key>
	<string>f052</string>
	<key>&lt;f053&gt;</key>
	<string>f053</string>
	<key>&lt;f054&gt;</key>
	<string>f054</string>
	<key>&lt;f055&gt;</key>
	<string>f055</string>
	<key>&lt;f056&gt;</key>
	<string>f056</string>
	<key>&lt;f057&gt;</key>
	<string>f057</string>
	<key>&lt;f058&gt;</key>
	<string>f058</string>
	<key>&lt;f059&gt;</key>
	<string>f059</string>
	<key>&lt;f060&gt;</key>
	<string>f060</string>
	<key>&lt;f061&gt;</key>
	<string>f061</string>
	<key>&lt;f062&gt;</key>
	<string>f062</string>
	<key>&lt;f063&gt;</key>
	<string>f063</string>
	<key>&lt;f064&gt;</key>
	<string>f064</string>
	<key>&lt;f065&gt;</key>
	<string>f065</string>
	<key>&lt;f066&gt;</key>
	<string>f066</string>
	<key>&lt;f067&gt;</key>
	<string>f067</string>
	<key>&lt;f068&gt;</key>
	<string>f068</string>
	<key>&lt;f069&gt;</key>
	<string>f069</string>
	<key>&lt;f070&gt;</key>
	<string>f070</string>
	<key>&lt;f071&gt;</key>
	<string>f071</string>
	<key>&lt;f072&gt;</key>
	<string>f072</string>
	<key>&lt;f073&gt;</key>
	<string>f073</string>
	<key>&lt;f074&gt;</key>
	<string>f074</string>
	<key>&lt;f075&gt;</key>
	<string>f075</string>
	<key>&lt;f076&gt;</key>
	<string>f076</string>
	<key>&lt;f077&gt;</key>
	<string>f077</string>
	<key>&lt;f078&gt;</key>
	<string>f078</string>
	<key>&lt;f079&gt;</key>
	<string>f079</string>
	<key>&lt;f080&gt;</key>
	<string>f080</string>
	<key>&lt;f081&gt;</key>
	<string>f081</string>
	<key>&lt;f082&gt;</key>
	<string>f082</string>
	<key>&lt;f083&gt;</key>
	<string>f083</string>
	<key>&lt;f084&gt;</key>
	<string>f084</string>
	<key>&lt;f085&gt;</key>
	<string>f085</string>
	<key>&lt;f086&gt;</key>
	<string>f086</string>
	<key>[悲伤]</key>
	<string>face1000</string>
	<key>[大笑]</key>
	<string>face1001</string>
	<key>[烦恼]</key>
	<string>face1002</string>
	<key>[惊讶]</key>
	<string>face1003</string>
	<key>[生病]</key>
	<string>face1004</string>
	<key>[思考]</key>
	<string>face1005</string>
	<key>[偷笑]</key>
	<string>face1006</string>
	<key>[星星]</key>
	<string>face1007</string>
	<key>[愉快]</key>
	<string>face1008</string>
	<key>[装酷]</key>
	<string>face1009</string>
</dict>
</plist>
